# backups.env
# Source this file in backup scripts in order to gain access to these environment variables.

export S3_BUCKET={{ backups_s3_bucket }}
export AWS_ACCESS_KEY_ID={{ backups_aws_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ backups_aws_secret_access_key }}
